body {
    background-color: rgb(123, 214, 123);
}
* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Times New Roman', Times, serif;
}
  
nav ul {
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

.brand img {
    width: 44px;
    padding: 0 8px;

}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('musc.jpg');

}

.bottom {
    position: sticky;
    height: 130px;
    background-color: rgb(3, 2, 2);
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 12px 0;

}

.icons {
    margin-top: 25px;
}

.icons i {
    cursor: pointer;
}

#myProgressBaar {
    width: 80vw;
    cursor:pointer;

}

.songItemContainer {
    margin-top: 74px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: #fff;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 43px;
    margin: 0 23px;


}

.timestamp {
    margin: 0 23px;

}

.timestamp {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family:'Varela Round', sans-serif ;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.3s ease;
}